body {
    font-family: Arial, sans-serif;
    display: grid; /* Gebruik van CSS Grid */
    grid-template-areas: 
        'header header'
        'main aside';
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px;
    background-color: #f4f4f9;
    color: #333;
}

header {
    grid-area: header;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    grid-area: main;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside {
    grid-area: aside;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#travel-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#travel-form div {
    display: flex;
    flex-direction: column;
}

#travel-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#travel-form input, #travel-form textarea, #travel-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submit-button {
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
    width: auto;
    margin-top: 20px;
}

#response {
    margin-top: 20px;
    font-size: 1.2em;
    text-align: center;
}

#history {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#history h3 {
    margin-top: 0;
}

#history-container h4 {
    margin: 10px 0;
}

#history-container p {
    margin: 5px 0;
}

.select-option {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#history-container div {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#history-container div:last-child {
    margin-bottom: 0;
}

@keyframes colorChange {
    from {
        background-color: #3498db;
    }
    to {
        background-color: #4CAF50;
    }
}

header, #submit-button {
    animation: colorChange 2s ease-in-out alternate infinite; /* Basis CSS Animatie */
}