body {
    display: grid;
    grid-template-areas: 
        'header header'
        'main aside';
    grid-template-columns: 70% auto;
    grid-template-rows: auto;
}

header {grid-area: header;}
main {grid-area: main;}
aside {grid-area: aside;}

#reis-form {
    background-color: whitesmoke;
    padding: 1em;
    margin: 0 0 0 2em;
    border-width: 1px;
    border-style: solid;
}